/shelf/
/workspace.xml
/httpRequests/
/mavenHomeManager.xml
/dataSources/
/dataSources.local.xml
.name
misc.xml
vcs.xml
AndroidProjectSystem.xml
/inspectionProfiles/
/modules.xml
/runConfigurations/
/gradle.xml
/compiler.xml
/jarRepositories.xml
/kotlinc.xml
!/codeStyles
